@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    body {
            background: url("https://images.unsplash.com/photo-1503264116251-35a269479413") no-repeat center center fixed;
            background-size: cover;
            font-family: "Outfit", sans-serif;
        }
}

.quote-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: "";
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #0D0A4D;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #0D0A4D;
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background: #0D0A4D;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #0D0A4D;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
}

/* Button loader */
.quote-box button.loading {
    position: relative;
    color: transparent !important;
}

.quote-box button.loading::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    background: linear-gradient(90deg, #eee 25%, #ddd 37%, #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}

/* Skeleton Loader */
.hidden {
    display: none;
}

.skeleton {
    background: linear-gradient(90deg, #eee 25%, #ddd 37%, #eee 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 8px;
    margin: auto;
}

.skeleton-text {
    width: 100%;
    height: 26px;
    margin-bottom: 10px;
}

.skeleton-text.short {
    width: 150px;
    height: 20px;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}